*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%; // 1rem = 10px ; 10 ÷ 16 = 0.625
    box-sizing: border-box;
}

body {
    font-size: 2rem;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    line-height: 1.2;
    background-image: url("../images/coding-wp-2.jpg");
    background-position: 15%, 50%;
    overflow-x: hidden;
    @include respond(tablet) {
        background-attachment: fixed;
        background-size: cover;
    }
}

.wrapper {
    width: 100vw;
    overflow-x: hidden;
}

button {
    cursor: pointer;
    &:focus {
        outline: none;
    }
}

a, a:hover {
    cursor: pointer;
    text-decoration: none;
}