*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%; // 1rem = 10px ; 10 ÷ 16 = 0.625
    box-sizing: border-box;
}

body {
    font-size: 2rem;
    background-image: url("../images/coding-wp-2.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 15%, 50%;
    overflow-x: hidden;
    @include respond(tablet) {
        background-attachment: unset;
        background-size: contain;
    }
}

.wrapper {
    width: 100vw;
    overflow-x: hidden;
}

button:focus {
    outline: none;
}
