body {
    background: url("../images/background.jpg") no-repeat center fixed;
    background-size: cover;
}

.card {
    margin: 10px;
    width: 150px;
    height: 210px;
    float: left;
}

.btn {
    margin: auto;
}