@font-face {
font-family: "fira code";
src: url(../fonts/FiraCode-Regular.ttf);
}

@font-face {
font-family: "fira code";
font-weight: 300;
src: url(../fonts/FiraCode-Light.ttf);
}

@font-face {
font-family: "fira code";
font-weight: 500;
src: url(../fonts/FiraCode-Medium.ttf);
}

@font-face {
font-family: "fira code";
font-weight: 600;
src: url(../fonts/FiraCode-SemiBold.ttf);
}

@font-face {
font-family: "fira code";
font-weight: 700;
src: url(../fonts/FiraCode-Bold.ttf);
}

/* @import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;700&display=swap"); */

