$color-white: #d0d0d0;
$color-red: #bb4466;
$color-orange: #ff8800;
$color-gold: #f5e9a6;
$color-green: #ccff88;
$color-blue: #55aacc;
$color-purple: #9977bb;
$color-black: #202020;

$shadow-red: rgba(187, 68, 102, 0.5);
$shadow-orange: rgba(255, 136, 0, 0.5);
$shadow-gold: rgba(245, 233, 166, 0.5);
$shadow-green: rgba(204, 255, 136, 0.5);
$shadow-blue: rgba(85, 170, 204, 0.5);
$shadow-purple: rgba(153, 119, 187, 0.5);
$shadow-black: rgba(32, 32, 32, 0.6);

$font-fira: "Fira Code", sans-serif;
