.about-me {
    &__body {
        max-width: 100rem;
        margin: 4rem auto 0;
        padding: 2rem;
        border: .5rem ridge $color-orange;
        background-color: $color-black;
        display: flex;
        flex-direction: column;
        @include respond(tablet) {
            flex-direction: row-reverse;
            margin: 5rem auto 0;
        }
    }
    &__image {
        width: 100%;
        max-width: 40rem;
        margin: 0 auto;
        padding: 0.25rem;
        border: 0.25rem solid $color-black;
        background-color: $color-orange;
        outline: 0.25rem solid $color-blue;
        border-radius: 2.5rem;
        align-self: center;
        @include respond(tablet) {
            width: 25rem;
        }
    }
    &__text {
        font-size: 2rem;
        font-family: $font-fira;
        color: $color-blue;
        margin: 0 0 2rem 0;
        display: flex;
        align-items: center;
        @include respond(tablet) {
            font-size: 2.8rem;
            margin: 0 0 0 2rem;
        }
    }
}