.main-content {
    transition: all 0.5s;
    position: relative;
    width: 100%;
    left: 0;
    @include respond(tablet) {
        width: calc(100% - 20rem);
        left: 20rem;
    }
    &.active {
        left: 20rem;
        @include respond(tablet) {
            width: 100%;
            left: 0;
        }
    }
}

.section {
    position: relative;
    background-color: rgba($color-black, .75);
    min-height: 100vh;
    margin-bottom: .5rem;
    width: 100%;
    padding: 0;
    @include respond(tablet) {
        margin-bottom: 25rem;
        &:last-child {
            margin-bottom: 0;
        }
    }
}
