.toolbox {
    &__container {
        max-width: 100rem;
        margin: 2rem auto 0;
        padding: 1rem 0;;
        background-color: $color-black;
        border: .5rem ridge $color-red;
        display: flex;
        flex-wrap: wrap;
        @include respond(tablet) {
            margin: 0 auto;
            padding: 2rem 2rem 1rem 2rem;
        }
    }
}

.tool {
    position: relative;
    margin: 0 1rem 2rem;
    width: 100%;
    background-color: $color-black;
    border: 1px solid $color-green;
    display: flex;
    flex-direction: column;
    @include respond(tablet) {
        width: calc(25% - 2rem);
    }
    &__title {
        text-align: center;
        color: $color-red;
        text-shadow: 0 .5rem 1rem $shadow-red;
        padding: 1rem 0 12.5% 0;
        border-bottom: 1px solid $color-green;
        @include respond(tablet) {
            padding: 1rem 0 25% 0;
        }
    }
    &__image {
        width: 25%;
        height: 0;
        padding: 12.5% 0;
        margin: -12.5% auto 0;
        background-color: $color-black;
        border: 1px solid $color-red;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        @include respond(tablet) {
            width: 50%;
            padding: 25% 0;
            margin: -25% auto 0;
        }
        img {
            width: 70%;
        }
    }
    &__text {
        font-size: 2rem;
        padding: 1rem;
    }
    &__skill {
        font-size: 1.5rem;
        padding: 0 1rem 1rem 1rem;
        text-align: right;
        color: $color-red;
        margin-top: auto;
    }
}