button.join-the-fun {
  color: #ffffff;
  background: #58afef;
  padding: 12px 36px;
  display: block;
  margin: 24px auto;
  font-size: 36px;
  border: none;
  border-radius: 48px;
  letter-spacing: 4px;
  font-weight: 100;
}
button.join-the-fun:focus {
  outline: none;
}

.team-member {
  text-transform: uppercase;
}

button.btn-modal {
  padding: 0;
  border: none;
  background: transparent;
  text-align: left;
  text-transform: uppercase;
}
button.btn-modal:focus {
  outline: none;
}

.btn-modal > div {
  border: 8px solid #58afef;
}

.team-member .button-image {
  width: 100%;
  filter: grayscale(0.9);
  transition: all .5s;
}
.team-member:hover .button-image {
  filter: grayscale(0);
  transition: all .5s;
  transform: scale(1.01);
}

.team-member h3 {
  font-weight: 400;
  margin-bottom: 0;
}

.team-member h5 {
  font-weight: 700;
  margin-bottom: 28px;
}

.modal-image {
  position: relative;
  width: 100%;
}

.member-label {
  position: absolute;
  bottom: 12px;
  left: 32px;
  color: #ffffff;
  text-shadow: 3px 3px 3px #58afef;
}

.member-label h1 {
  font-weight: 400;
}

.member-label h3 {
  font-weight: 700;
}

.member-bio p {
  padding: 12px;
}

.modal-content .modal-footer {
  justify-content: space-evenly;
}

.modal-footer .footer-button {
  color: #ffffff;
  background-color: #58afef;
  padding: 12px 36px;
  font-size: 24px;
  width: 33%;
  border: none;
  border-radius: 48px;
  letter-spacing: 4px;
  font-weight: 100;
}