/* Universal Style */

body {
    background-image: url("../images/coding-wp-2.jpg");
    background-size: auto;
    background-attachment: fixed;
}

.wrapper {
    display: flex;
    width: 100%;
    /* align-items: stretch; */
}

#sidebar {
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background-color: #222;
    padding: 15px;
    text-align: center;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -200px;
}

#content {
    width: calc(100% - 200px);
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content.active {
    width: 100%;
}

.navbar {
    position: fixed;
    transition: all 0.3s;
    top: 0;
    left: 201px;
    z-index: 999;
}

.navbar.active {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.engraved {
    text-shadow: -3px -2px 5px #5ac;
}

a:link, a:visited {
    color:#cf8;
}

a:hover {
    color: #97b;
    text-decoration: none;
}

.page-link {
    background-color: #97b;
    color: #cf8;
    border: 2px solid #5ac
}

.page-link:hover {
    background-color: #cf8;
    color: #97b;
    border: 2px solid #b46;
}

.page-link-inactive {
    background-color: #cf8n
    color: #97b;
    border: 2px solid #b46;
}

.footer {
    color: #5ac;
    font-size: 12px;
    text-align: center;
}

/* Index Specific Style */

.laptop {
    margin-top: 100px;
    background-color: #222;
    border: 25px solid #444;
    max-width: 600px;
    max-height: 400px;
    padding: 30px;
    font-size: 18px;
}

#typed2 {
    margin-left: 25px;
}

#typed3 {
    margin-left: 25px;
}

#typed4 {
    margin-left: 25px;
}

#typed5 {
    margin-left: 50px;
}

#typed6 {
    margin-left: 25px;
}

#typed7 {
    margin-left: 25px;
}

.darkblue {
    color: rgb(57, 57, 250);
}

.gold {
    color: rgb(245, 233, 166);
}

.yellow {
    color: rgb(255, 255, 0)
}

.blue {
    color: rgb(86, 194, 230)
}

.purple {
    color: rgb(153, 24, 153)
}

.orange {
    color: rgb(202, 144, 35)
}

/* About Me Specific Style */

.header {
    margin-top: 50px;
    background-color: #5ac;
    color: #cf8;
    border: 3px solid #f80;
}

.aboutme {
    background-color: #222;
    color: #5ac;
    border: 3px solid #f80;
    text-align: justify;
    text-justify: auto;
}

.biopic {
    max-width: 50%;
}

/* Portfolio Specific Style */

.header2 {
    margin-top: 50px;
    background-color: #222;
    color: #cf8;
    border: 3px solid #f80;
}

.portfolio {
    background-color: #5ac;
    color: #cf8;
    border: 3px solid #f80;
}

.portfolio-img {
    width: 100%;
    border: 3px solid #cf8;
}

.portfolio-img:hover {
    border: 3px solid #97b;
}

.bg-card {
    background-color: #222;
    border: 3px solid #f80;
}

.hovereffect {
    width:100%;
    height:100%;
    float:left;
    overflow:hidden;
    position:relative;
    text-align:center;
    cursor:default;
}

.hovereffect .overlay {
    width:100%;
    height:100%;
    position:absolute;
    overflow:hidden;
    top:0;
    left:0;
    opacity:0;
    background-color:rgba(0,0,0,0.5);
    -webkit-transition:all .4s ease-in-out;
    transition:all .4s ease-in-out
}

.hovereffect img {
    display:block;
    position:relative;
    -webkit-transition:all .4s linear;
    transition:all .4s linear;
}

.hovereffect h2 {
    text-transform: uppercase;
    color:#5ac;
    text-align:center;
    position:relative;
    font-size:17px;
    background:rgba(0,0,0,0.6);
    -webkit-transform:translatey(-100px);
    -ms-transform:translatey(-100px);
    transform:translatey(-100px);
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
    padding:20px;
}

.hovereffect p {
    display: inline-block;
    clear: both;
    font-size: 12px;
    border: 2px solid #cf8;
    background-color: #b46;
    color: #cf8;
    padding: 5px 10px;
    min-width: 45%;
    max-width: 90%;
}

.hovereffect a.info {
    text-decoration:none;
    display:inline-block;
    color:#cf8;
    border: 2px solid #5ac;
    background-color: #97b;
    opacity:0;
    filter:alpha(opacity=0);
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
    margin: 5px;
    padding: 7px 14px;
}

.hovereffect a.info:hover {
    box-shadow:0 0 5px #fff;
    background-color: #cf8;
    border: 2px solid #b46;
    color: #97b;
}

.hovereffect:hover img {
    -ms-transform:scale(1.2);
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
}

.hovereffect:hover .overlay {
    opacity:1;
    filter:alpha(opacity=100);
}
    
.hovereffect:hover h2,.hovereffect:hover a.info {
    opacity:1;
    filter:alpha(opacity=100);
    -ms-transform:translatey(0);
    -webkit-transform:translatey(0);
    transform:translatey(0);
}

.ghub {
    display: inline-block;
    padding: 2px 10px;
}

/* Media Queries */

@media screen and (max-width: 576px) {
    #sidebar {
        margin-left: -200px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    .navbar {
        left: 0;
    }
    .navbar.active {
        left: 201px;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 200px);
    }
}

@media screen and (max-width: 768px) {
    .laptop {
        border: 15px solid #444;
        padding: 15px 5px;
        font-size: 14px;
    }
}
