/* sass assets/css/style.scss assets/css/style.css */
/* or to automate it while working */
/* sass --watch assets/css/style.scss assets/css/style.css */

/* Colors To Be Used */

$black: #222222;
$blue: #55aacc;
$darkblue: #3939fa;
$gold: #f5e9a6;
$green: #ccff88;
$orange: #ff8800;
$purple: #9977bb;
$red: #bb4466;
$white: #ffffff;
$yellow: #ffff00;

$navWidth: 200px;
$transition: all 0.5s;

/* Style elements for main page */

body {
  background-image: url( "../images/coding-wp-2.jpg" );
  background-size: auto;
  background-attachment: fixed;
}

a {
  color: $green;
  &:hover {
  color: $purple;
  text-decoration: none;
  }
}

.engraved {
  color: $green;
  text-shadow: -3px -2px 5px $blue;
}

.pagelink {
  background-color: $purple;
  color: $green;
  width: 100%;
  margin-bottom: 20px;
  float: left;
  border: 2px solid $blue;
  &:hover {
    background-color: $green;
    color: $purple;
    border: 2px solid $red;
  }
}

#navbar {
  width: $navWidth;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 1;
  background-color: $black;
  padding: 15px;
  text-align: center;
  transition: $transition;
}

#navbar.active {
    margin-left: -$navWidth;
}

.navbutton {
  position: fixed;
  transition: $transition;
  top: 0;
  left: $navWidth - 40px;
  z-index: 99;
}

.navbutton.active {
  left: 0;
}

.footer {
  color: $blue;
  font-size: 12px;
  text-align: center;
}

#content {
  color: white;
  width: calc( 100% - #{ $navWidth });
  transition: $transition;
  padding: 50px;
  position: fixed;
  top: 0;
  left: $navWidth;
  overflow: auto;
}

#content.active {
  width: 100%;
  left: 0;
}

.laptop {
  margin-top: calc( #{ $navWidth } / 2 );
  background-color: $black;
  border: 25px solid lighten( $black, 10% );
  max-width: 600px;
  height: 400px;
  padding: 30px;
  font-size: 1.2em;
}

.oneindent { margin-left: 25px; }
.twoindent { margin-left: 50px; }
.blue { color: $blue; }
.darkblue { color: $darkblue; }
.gold { color: $gold; }
.green { color: $green; }
.orange { color: $orange; }
.purple { color: $purple; }
.red { color: $red; }
.white { color: $white; }
.yellow { color: $yellow; }

.header {
  background-color: $black;
  border: 3px solid $orange;
  text-align: center;
}

.aboutme {
  background-color: $black;
  color: $blue;
  border: 3px solid $orange;
  text-align: justify;
  text-justify: auto;
}

.biopic {
  max-width: 50%;
}

.contactinfo {
  text-align: center;
  color: $green;
}