/* Universal Style */

body {
    background-image: url("../images/coding-wp-2.jpg");
    background-size: auto;
    background-attachment: fixed;
}

.wrapper {
    display: flex;
    width: 100%;
    /* align-items: stretch; */
}

#sidebar {
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background-color: #222;
    padding: 15px;
    text-align: center;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -200px;
}

#content {
    width: calc(100% - 200px);
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content.active {
    width: 100%;
}

.jumbotron {
    background-color: #222;
    border-bottom: 3px solid #cf8;
}

.engraved {
    text-shadow: -3px -2px 5px #5ac;
}

a:link, a:visited {
    color:#cf8;
}

a:hover {
    color: #97b;
    text-decoration: none;
}

.page-link {
    background-color: #97b;
    color: #cf8;
    border: 2px solid #5ac
}

.page-link:hover {
    background-color: #cf8;
    color: #97b;
    border: 2px solid #b46;
}

.footer {
    color: #5ac;
    font-size: 12px;
    text-align: center;
}

/* Index Specific Style */

.codousel{
    background-color: rgb(34, 34, 34, 0.6);
}

/* About Me Specific Style */

.header {
    background-color: #5ac;
    color: #cf8;
    border: 3px solid #f80;
}
.aboutme {
    background-color: #222;
    color: #5ac;
    border: 3px solid #f80;
}

/* Portfolio Specific Style */

.portfolio {
    background-color: #5ac;
    color: #b46;
    border: 3px solid #f80;
}

.portfolio-img {
    border: 3px solid #cf8;
}

.portfolio-img:hover {
    border: 3px solid #97b;
}

.bg-card {
    background-color: #222;
    border: 3px solid #f80;
}

/* Media Queries */

@media screen and (max-width: 576) {
    #sidebar {
        margin-left: -200px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}
/* @media screen and (min-width: 768px) {
    #sidebarCollapse {
        display: none;
    }
} */