/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

/* sass assets/css/style.scss assets/css/style.css */
/* or to automate it while working */
/* sass --watch assets/css/style.scss assets/css/style.css */

/********** Colors To Be Used **********/

$black: #222222;
$blue: #55aacc;
$darkblue: #3939fa;
$gold: #f5e9a6;
$green: #ccff88;
$orange: #ff8800;
$purple: #9977bb;
$red: #bb4466;
$white: #ffffff;
$yellow: #ffff00;

$navWidth: 200px;
$transition: all 0.5s;

/********** Universal **********/

body {
  background-image: url("../images/coding-wp-2.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: 15%, 50%;
  overflow-x:hidden;
}

html {
  scroll-behavior: smooth;
}

a {
  color: $green;
  &:hover {
    color: $purple;
    text-decoration: none;
  }
}

.content {
  min-height: 100vh;
  width: calc(100% - #{$navWidth});
  -webkit-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
  position: relative;
  top: 0;
  left: $navWidth;
  margin: 50px 0px;
  padding: 0px;
}

.content.active {
  width: 100%;
  left: 0;
}

.page-dimmer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #22222299;
}

@media screen and (max-width: 768px) {
  body {
    background-position: left;
  }
  .content {
    width: 100%; 
    left: 0;
  }
  // .content.active {
  //   left: $navWidth;
  // }
}

/********** Navbar **********/

#bio-link {
  margin-bottom: 3rem;
  color: $green;
  text-shadow: -3px -3px 6px $blue;
}

.pagelink {
  background-color: $purple;
  color: $green;
  border: 2px solid $blue;
  margin-bottom: 1.5rem;
  &:hover {
    background-color: $green;
    color: $purple;
    border: 2px solid $red;
  }
}

#navbar {
  width: $navWidth;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 1;
  background-color: $black;
  padding: 15px;
  text-align: center;
  -webkit-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
  overflow: hidden;
}

#navbar.active {
  margin-left: -$navWidth;
}

.navbutton {
  position: fixed;
  -webkit-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
  top: 0;
  // left: $navWidth - 40px;
  left: $navWidth;
  z-index: 99;
}

.navbutton button {
  font-size: 1.5rem;
}

.navbutton.active {
  left: 0;
}

.footer {
  color: $blue;
  font-size: 12px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  #bio-link {
    margin-bottom: 1rem;
  }
  .pagelink {
    font-size: 0.75em; 
    margin-bottom: 0.75rem;
  }
  #navbar {
    margin-left: -$navWidth;
  }
  #navbar.active {
    margin-left: 0;
  }
  .navbutton {
    left: 0;
  }
  .navbutton.active {
    left: $navWidth - 40px;
  }
}

/********** Welcome Page **********/

#welcome-page {
  height: 100vh;
}

.welcome {
  position: relative;
  top: 25vh;
  width: 80%;
  margin: 0px auto;
  text-align: center;
}

.welcome h1{
  text-shadow: 5px 5px #000, -5px 5px #000, 5px -5px #000, -5px -5px #000;
  font-weight: 900;
  font-size: 80px;
  color: $blue;
}

@media screen and (max-width: 768px) {
  .welcome h1 {
    font-size: 40px;
  }
}

/********** AboutMe **********/

#aboutme-page {
  height: 100vh;
}

.aboutme {
  position: relative;
  top: 33vh;
  background-color: $black;
  width: 66%;
  margin: 0px auto;
  font-size: 28px;
  line-height: 36px;
  text-align: right;
  padding: 28px 56px 28px 128px;
  color: $purple;
  border: 5px solid $blue;
  border-radius: 100px;
}

.aboutme-pic {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: block;
  width: 240px;
  padding: 5px;
  border: 5px solid $orange;
  border-radius: 25%;
  background-color: $black;
}

@media screen and (max-width: 768px) {
  .aboutme {
    padding: 100px 28px 28px;
    width: 100%;
    font-size: 24px;
    border-radius: 25px;
    line-height: 30px;
  }
  .aboutme-pic {
    top: -10px;
    left: 100px;
    width: 200px;
  }
}

/********** Portfolio **********/

#portfolio-page {
  padding: 0px 100px;
  min-height: 100vh;
}

.project {
  height: 100%;
}

.project-body {
  padding: 0px;
  -ms-flex-line-pack: center;
    align-content: center;
  border: 3px solid $green;
  background: rgba($black, 0.9);
}

.project-image {
  width: 90%;
  border: 2px solid $green;
  margin-bottom: 10px;
}

.project-title {
  text-align: center;
  background: rgba($black, 0.9);
  color: $blue;
  font-size: 17px;
  padding: 20px;
  margin-bottom: 0px;
}

.project-skills {
  text-align: center;
  font-size: 12px;
  border: 2px solid $green;
  background-color: $red;
  color: $green;
  padding: 5px 10px;
  margin: 0px auto;
  width: 90%;
  min-height: 50px;
}

.project a {
  margin: 10px 0 20px;
  width: 45%;
}

@media screen and (max-width: 1200px) {
  #portfolio-page {
    padding: 0 50px;
  }
  #techskills-page {
    padding: 0 50px;
  }
}

@media screen and (max-width: 480px) {
  #portfolio-page {
    padding: 0 25px;
  }
  #techskills-page {
    padding: 0 25px;
  }
}

/********** TOOLBOX **********/

#techskills-page {
  margin-top: 100px;
  padding: 100px 50px 0px;
}

#techskills-page .col-lg-6 {
  padding-right: 0px;
  padding-left: 0px;
}

@media screen and (max-width: 768px) {
  #techskills-page {
    padding: 150px 20px;
  }
}

/********** TOOLBOX SLIDER **********/

.slider-inner {
  display: block;
  width: 100% !important;
  height: 550px !important;
  margin: auto;
}

.slider-origin {
  border-radius: 50%;
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
  height: 100%;
  width: 115px !important;
}

.slider-item {
  width: 150px;
  height: 150px;
  background-color: $black;
  position: absolute;
  cursor: pointer;
  transform-origin: center 175%;
    -webkit-transform-origin: center 175%;
      -ms-transform-origin: center 175%;
        -moz-transform-origin: center 175%;
  -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
      -o-transition: transform 0.5s;
        transition: transform 0.5s;
  border-radius: 100%;
  display: -webkit-box;
    display: -ms-flexbox;
      display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
    -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-align: center;
    -ms-flex-align: center;
      align-items: center;
  -webkit-box-pack: center;
    -ms-flex-pack: center;
      justify-content: center;
  border: 5px solid $purple;
  -webkit-transition: all .4s;
       -o-transition: all .4s;
          transition: all .4s;
}

.slider-item img {
  width: 100px;
}

.slider-item.active {
  background-color: $black;
  cursor: default;
  -webkit-box-shadow: 5px 5px 10px #97b, 5px -5px 10px #5ac, -5px -5px 10px #cf8, -5px 5px 10px #f80;
          box-shadow: 5px 5px 10px #97b, 5px -5px 10px #5ac, -5px -5px 10px #cf8, -5px 5px 10px #f80;
  border-color: #222;
}

.slider-item:not(.active):hover {
  -webkit-transition: all .4s;
       -o-transition: all .4s;
          transition: all .4s;
  -webkit-box-shadow: 3px 3px 6px #97b, 3px -3px 6px #5ac, -3px -3px 6px #cf8, -3px 3px 6px #f80;
          box-shadow: 3px 3px 6px #97b, 3px -3px 6px #5ac, -3px -3px 6px #cf8, -3px 3px 6px #f80;
}

.text-section div {
  -webkit-animation: fadeIt 2s;
          animation: fadeIt 2s;
  text-align: right;
}

@-webkit-keyframes fadeIt {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes fadeIt {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes bouncing {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(-5px) scaleY(1.1);
            transform: translatey(-5px) scaleY(1.1);
  }
  70% {
    -webkit-transform: translatey(0px) scaleY(0.8);
            transform: translatey(0px) scaleY(0.8);
  }
  100% {
    -webkit-transform: translatey(0px) scaleY(1);
            transform: translatey(0px) scaleY(1);
  }
}

@keyframes bouncing {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(-5px) scaleY(1.1);
            transform: translatey(-5px) scaleY(1.1);
  }
  70% {
    -webkit-transform: translatey(0px) scaleY(0.8);
            transform: translatey(0px) scaleY(0.8);
  }
  100% {
    -webkit-transform: translatey(0px) scaleY(1);
            transform: translatey(0px) scaleY(1);
  }
}

.text-section {
  position: absolute;
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
  bottom: 50%;
  right: 0px;
  width: 75%;
  color: $white;
  background: $black;
  padding: 20px;
  border: 5px solid $red;
  border-radius: 25px;
}

.text-section p {
  font-size: 18px;
}

.text-section h2 {
  font-size: 42px !important;
  color: $gold;
  text-shadow: -3px -3px 6px $orange;
  margin: 0px !important;
  line-height: 1 !important;
  padding-bottom: 13px;
  margin-bottom: 20px !important;
  border-bottom: 2px solid $green;
}

.text-section h4 {
  color: $green;
  text-shadow: -3px -3px 6px $blue;
}

.slider-wrap img {
  position: absolute;
  z-index: -1;
  opacity: 0.4;
}

.slider-wrap img:nth-child(2) {
  top: 0px;
  right: -20px;
}

.slider-wrap img:nth-child(3) {
  top: 0;
  left: 7px;
}

.slider-wrap img:nth-child(4) {
  bottom: 20%;
  right: -10px;
}

.slider-wrap img:nth-child(5) {
  bottom: -12px;
  left: 87px;
}

.slider-wrap img:nth-child(6) {
  top: -72px;
  right: 28%;
  max-width: 111px;
  left: auto;
  margin: auto;
}

.slider-wrap .fusion-imageframe:nth-child(7) {
  bottom: 20%;
  right: 0;
  left: -81px;
  margin: auto;
}

.slider-wrap .fusion-imageframe:nth-child(8) {
  left: auto;
  right: 91px;
  bottom: -70px;
}

.slider-wrap .fusion-imageframe:nth-child(9) {
  left: 241px;
  right: 91px;
  display: none !important;
  max-width: 112px;
  bottom: -96px;
  right: auto;
}

.slider-wrap > div {
  max-width: 650px;
  margin: auto;
  position: relative;
}

@-webkit-keyframes breath {
  0% {
    max-width: 690px;
    max-height: 535px;
  }
  50% {
    max-width: 670px;
    max-height: 520px;
  }
  100% {
    max-width: 690px;
    max-height: 535px;
  }
}

@keyframes breath {
  0% {
    max-width: 690px;
    max-height: 535px;
  }
  50% {
    max-width: 670px;
    max-height: 520px;
  }
  100% {
    max-width: 690px;
    max-height: 535px;
  }
}

.min-it {
  min-height: 800px;
  max-width: 1400px;
  margin: auto !important;
  margin-top: 200px;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .reveal {
    display: none !important;
  }
}

.menu-item:hover > a {
  color: #9b9b9b !important;
}

@media screen and (max-width: 1200px) {
  .slider-item {
    width: 120px;
    height: 120px;
  }
  .slider-item img {
    width: 80px;
  }
}

@media screen and (max-width: 768px) {
  .slider-item {
    width: 100px;
    height: 100px;
  }
  .slider-item img {
    width: 66px;
  }
}

@media screen and (max-width: 600px) {
  .slider-item {
    width: 66px;
    height: 66px;
  }
  .slider-item img {
    width: 44px;
  }
}

/********** Contact Me **********/

#contactme-page {
  height: 100vh;
}
.contact-me {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: $black;
  width: 50%;
  font-size: 28px;
  line-height: 36px;
  text-align: center;
  padding: 28px;
  color: $green;
  border: 5px solid $blue;
  border-radius: 24px;
}

.contact-me input,
.contact-me textarea {
  border-radius: 10px;
  background-color: $gold;
  color: white;
}

#norton-idsafe-field-styling-divId {
  display: none;
}

@media screen and (max-width: 1200px) {
  .contact-me {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .contact-me {
    width: 100%;
    padding: 4px;
    border-radius: 25px;
  }
}

footer {
  border: 3px solid $gold;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 75px;
  margin: 10px;
  transition: all .5s
}

footer p {
  color: #ffffff;
  background-color: #222222;
  width: 100%;
  text-align: center;
  margin: 0px;
}

footer img {
  width: 100%;
  border: 1px solid #222222;
  margin-bottom: 0;
  // transition: all 1s;
}

footer:hover {
  transition: all .5s;
  transform: scale(1.2,1.2);
  border: 1px solid #663399;
}

@media screen and (max-width: 600px) {
  footer {
    position: relative;
    margin: 150px auto 20px;
  }
}