/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */
/* sass assets/css/style.scss assets/css/style.css */
/* or to automate it while working */
/* sass --watch assets/css/style.scss assets/css/style.css */
/********** Colors To Be Used **********/
/********** Universal **********/
body {
  background-image: url("../images/coding-wp-2.jpg");
  background-size: auto;
  background-attachment: fixed;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

a {
  color: #ccff88;
}
a:hover {
  color: #9977bb;
  text-decoration: none;
}

.content {
  min-height: 100vh;
  width: calc(100% - 200px);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  position: relative;
  top: 0;
  left: 200px;
  margin: 50px 0px;
  padding: 0px;
}

.content.active {
  width: 100%;
  left: 0;
}

@media screen and (max-width: 768px) {
  .content {
    padding: 40px 5px;
  }
}
@media screen and (max-width: 480px) {
  .content {
    width: 100%;
    padding: 25px;
    left: 0;
  }

  .content.active {
    left: 200px;
  }
}
/********** Navbar **********/
#bio-link {
  margin-bottom: 3rem;
  color: #ccff88;
  text-shadow: -3px -3px 6px #55aacc;
}

.pagelink {
  background-color: #9977bb;
  color: #ccff88;
  border: 2px solid #55aacc;
  margin-bottom: 1.5rem;
}
.pagelink:hover {
  background-color: #ccff88;
  color: #9977bb;
  border: 2px solid #bb4466;
}

#navbar {
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 1;
  background-color: #222222;
  padding: 15px;
  text-align: center;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  overflow: hidden;
}

#navbar.active {
  margin-left: -200px;
}

.navbutton {
  position: fixed;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  top: 0;
  left: 160px;
  z-index: 99;
}

.navbutton.active {
  left: 0;
}

.footer {
  color: #55aacc;
  font-size: 12px;
  text-align: center;
}

@media screen and (max-width: 480px) {
  #bio-link {
    margin-bottom: 1rem;
  }

  .pagelink {
    font-size: 0.75em;
    margin-bottom: 0.75rem;
  }

  #navbar {
    margin-left: -200px;
  }

  #navbar.active {
    margin-left: 0;
  }

  .navbutton {
    left: 0;
  }

  .navbutton.active {
    left: 160px;
  }
}
/********** Welcome Page **********/
#welcome-page {
  padding: 0px;
  margin: 0px;
  height: 100vh;
}

.welcome {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -60%);
  -ms-transform: translate(-50%, -60%);
  transform: translate(-50%, -60%);
  border: 5px solid #ff8800;
  width: 50%;
  min-height: 175px;
  padding: 30px 50px;
  color: #55aacc;
  background-color: rgba(34, 34, 34, 0.9);
  border-radius: 10px;
}

.welcome img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  border: 5px solid #55aacc;
  border-radius: 10px;
  position: absolute;
  bottom: -77px;
  right: -40px;
}

@media screen and (max-width: 768px) {
  .welcome {
    width: 90%;
  }

  .welcome img {
    right: 10px;
    bottom: -80px;
  }
}
@media screen and (max-width: 600px) {
  .welcome {
    padding: 15px 30px;
    min-height: 200px;
  }

  .welcome h1 {
    font-size: 32px;
  }

  .welcome img {
    bottom: -100px;
  }
}
@media screen and (max-width: 480px) {
  #welcome-page {
    padding: 25px;
  }

  .welcome {
    font-size: 32px;
    padding: 25px;
  }
}
/********** AboutMe **********/
#aboutme-page {
  padding: 100px;
  height: 100vh;
}

.aboutme {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-40%, -50%);
  -ms-transform: translate(-40%, -50%);
  transform: translate(-40%, -50%);
  background-color: #222222;
  width: 66%;
  font-size: 28px;
  line-height: 36px;
  text-align: right;
  padding: 28px 56px 28px 128px;
  color: #9977bb;
  border: 5px solid #55aacc;
  border-radius: 100px;
}

.aboutme-pic {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: block;
  width: 240px;
  padding: 5px;
  border: 5px solid #ff8800;
  border-radius: 25%;
  background-color: #222222;
}

@media screen and (max-width: 1200px) {
  .aboutme {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  #aboutme-page {
    padding: 150px 25px;
  }

  .aboutme {
    width: 100%;
    font-size: 32px;
    padding: 100px 25px 25px;
    border-radius: 25px;
    line-height: 30px;
  }

  .aboutme-pic {
    top: -25px;
    left: 90px;
    width: 240px;
  }
}
@media screen and (max-width: 600px) {
  .aboutme {
    font-size: 24px;
  }
}
/********** Portfolio **********/
#portfolio-page {
  padding: 0px 100px;
  min-height: 100vh;
}

.project {
  height: 100%;
}

.project-body {
  padding: 0px;
  -ms-flex-line-pack: center;
  align-content: center;
  border: 3px solid #ccff88;
  background: rgba(34, 34, 34, 0.9);
}

.project-image {
  width: 90%;
  border: 2px solid #ccff88;
  margin-bottom: 10px;
}

.project-title {
  text-align: center;
  background: rgba(34, 34, 34, 0.9);
  color: #55aacc;
  font-size: 17px;
  padding: 20px;
  margin-bottom: 0px;
}

.project-skills {
  text-align: center;
  font-size: 12px;
  border: 2px solid #ccff88;
  background-color: #bb4466;
  color: #ccff88;
  padding: 5px 10px;
  margin: 0px auto;
  width: 90%;
  min-height: 50px;
}

.project a {
  margin: 10px 0 20px;
  width: 45%;
}

@media screen and (max-width: 1200px) {
  #portfolio-page {
    padding: 0 50px;
  }

  #techskills-page {
    padding: 0 50px;
  }
}
@media screen and (max-width: 480px) {
  #portfolio-page {
    padding: 0 25px;
  }

  #techskills-page {
    padding: 0 25px;
  }
}
/********** TOOLBOX **********/
#techskills-page {
  margin-top: 100px;
  padding: 100px 50px 0px;
}

#techskills-page .col-lg-6 {
  padding-right: 0px;
  padding-left: 0px;
}

@media screen and (max-width: 768px) {
  #techskills-page {
    padding: 150px 20px;
  }
}
/********** TOOLBOX SLIDER **********/
.slider-inner {
  display: block;
  width: 100% !important;
  height: 550px !important;
  margin: auto;
}

.slider-origin {
  border-radius: 50%;
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
  height: 100%;
  width: 115px !important;
}

.slider-item {
  width: 150px;
  height: 150px;
  background-color: #222222;
  -webkit-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  position: absolute;
  cursor: pointer;
  left: 41%;
  transform-origin: center 175%;
  -webkit-transform-origin: center 175%;
  -ms-transform-origin: center 175%;
  -moz-transform-origin: center 175%;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transition: transform 0.5s;
  -ms-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  text-align: left;
  color: #fff;
  padding: 7px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  /*Introduced in IE 10. See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/ */
  -ms-user-select: none;
  user-select: none;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 5px solid #9977bb;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.slider-item img {
  width: 100px;
}

.slider-item.active {
  background-color: #222222;
  cursor: default;
  -webkit-box-shadow: 5px 5px 10px #97b, 5px -5px 10px #5ac, -5px -5px 10px #cf8, -5px 5px 10px #f80;
  box-shadow: 5px 5px 10px #97b, 5px -5px 10px #5ac, -5px -5px 10px #cf8, -5px 5px 10px #f80;
  border-color: #222;
}

.slider-item:not(.active):hover {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-box-shadow: 3px 3px 6px #97b, 3px -3px 6px #5ac, -3px -3px 6px #cf8, -3px 3px 6px #f80;
  box-shadow: 3px 3px 6px #97b, 3px -3px 6px #5ac, -3px -3px 6px #cf8, -3px 3px 6px #f80;
}

.text-section div {
  -webkit-animation: fadeIt 2s;
  animation: fadeIt 2s;
  text-align: right;
}

@-webkit-keyframes fadeIt {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@keyframes fadeIt {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@-webkit-keyframes bouncing {
  0% {
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(-5px) scaleY(1.1);
    transform: translatey(-5px) scaleY(1.1);
  }
  70% {
    -webkit-transform: translatey(0px) scaleY(0.8);
    transform: translatey(0px) scaleY(0.8);
  }
  100% {
    -webkit-transform: translatey(0px) scaleY(1);
    transform: translatey(0px) scaleY(1);
  }
}
@keyframes bouncing {
  0% {
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(-5px) scaleY(1.1);
    transform: translatey(-5px) scaleY(1.1);
  }
  70% {
    -webkit-transform: translatey(0px) scaleY(0.8);
    transform: translatey(0px) scaleY(0.8);
  }
  100% {
    -webkit-transform: translatey(0px) scaleY(1);
    transform: translatey(0px) scaleY(1);
  }
}
.text-section {
  position: absolute;
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%);
  bottom: 50%;
  right: 0px;
  width: 75%;
  color: #ffffff;
  background: #222222;
  padding: 20px;
  border: 5px solid #bb4466;
  border-radius: 25px;
}

.text-section p {
  font-size: 18px;
}

.text-section h2 {
  font-size: 42px !important;
  color: #f5e9a6;
  text-shadow: -3px -3px 6px #ff8800;
  margin: 0px !important;
  line-height: 1 !important;
  padding-bottom: 13px;
  margin-bottom: 20px !important;
  border-bottom: 2px solid #ccff88;
}

.text-section h4 {
  color: #ccff88;
  text-shadow: -3px -3px 6px #55aacc;
}

.slider-wrap img {
  position: absolute;
  z-index: -1;
  opacity: 0.4;
}

.slider-wrap img:nth-child(2) {
  top: 0px;
  right: -20px;
}

.slider-wrap img:nth-child(3) {
  top: 0;
  left: 7px;
}

.slider-wrap img:nth-child(4) {
  bottom: 20%;
  right: -10px;
}

.slider-wrap img:nth-child(5) {
  bottom: -12px;
  left: 87px;
}

.slider-wrap img:nth-child(6) {
  top: -72px;
  right: 28%;
  max-width: 111px;
  left: auto;
  margin: auto;
}

.slider-wrap .fusion-imageframe:nth-child(7) {
  bottom: 20%;
  right: 0;
  left: -81px;
  margin: auto;
}

.slider-wrap .fusion-imageframe:nth-child(8) {
  left: auto;
  right: 91px;
  bottom: -70px;
}

.slider-wrap .fusion-imageframe:nth-child(9) {
  left: 241px;
  right: 91px;
  display: none !important;
  max-width: 112px;
  bottom: -96px;
  right: auto;
}

.slider-wrap > div {
  max-width: 650px;
  margin: auto;
  position: relative;
}

@-webkit-keyframes breath {
  0% {
    max-width: 690px;
    max-height: 535px;
  }
  50% {
    max-width: 670px;
    max-height: 520px;
  }
  100% {
    max-width: 690px;
    max-height: 535px;
  }
}
@keyframes breath {
  0% {
    max-width: 690px;
    max-height: 535px;
  }
  50% {
    max-width: 670px;
    max-height: 520px;
  }
  100% {
    max-width: 690px;
    max-height: 535px;
  }
}
.min-it {
  min-height: 800px;
  max-width: 1400px;
  margin: auto !important;
  margin-top: 200px;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .reveal {
    display: none !important;
  }
}
.menu-item:hover > a {
  color: #9b9b9b !important;
}

@media screen and (max-width: 1200px) {
  .slider-item {
    width: 120px;
    height: 120px;
  }

  .slider-item img {
    width: 80px;
  }
}
@media screen and (max-width: 768px) {
  .slider-item {
    width: 100px;
    height: 100px;
  }

  .slider-item img {
    width: 66px;
  }
}
@media screen and (max-width: 600px) {
  .slider-item {
    width: 66px;
    height: 66px;
  }

  .slider-item img {
    width: 44px;
  }
}
/********** Contact Me **********/
#contactme-page {
  height: 100vh;
}

.contact-me {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #222222;
  width: 50%;
  font-size: 28px;
  line-height: 36px;
  text-align: center;
  padding: 28px 56px;
  color: #ccff88;
  border: 5px solid #55aacc;
  border-radius: 100px;
}

.contact-me input,
.contact-me textarea {
  border-radius: 10px;
  background-color: #f5e9a6;
  color: white;
}

#norton-idsafe-field-styling-divId {
  display: none;
}

@media screen and (max-width: 1200px) {
  .contact-me {
    width: 80%;
  }
}
@media screen and (max-width: 768px) {
  .contact-me {
    width: 100%;
    padding: 28px 28px;
    border-radius: 25px;
  }
}

/*# sourceMappingURL=style.css.map */
