/* sass assets/css/style.scss assets/css/style.css */
/* or to automate it while working */
/* sass --watch assets/css/style.scss assets/css/style.css */

/********** Colors To Be Used **********/

$black: #222222;
$blue: #55aacc;
$darkblue: #3939fa;
$gold: #f5e9a6;
$green: #ccff88;
$orange: #ff8800;
$purple: #9977bb;
$red: #bb4466;
$white: #ffffff;
$yellow: #ffff00;

$navWidth: 200px;
$transition: all 1s;

/********** Universal **********/

body {
  background-image: url("../images/coding-wp-2.jpg");
  background-size: auto;
  background-attachment: fixed;
}

html {
  scroll-behavior: smooth;
}

a {
  color: $green;
  &:hover {
    color: $purple;
    text-decoration: none;
  }
}

.content {
  width: calc(100% - #{$navWidth});
  transition: $transition;
  padding: 100px 50px 0px;
  position: relative;
  top: 0;
  left: $navWidth;
}

.content.active {
  width: 100%;
  left: 0;
}

@media screen and (max-width: 768px) {
  .content {
    padding: 40px 5px;
  }
}

@media screen and (max-width: 480px) {
  .content {
    width: 100%;
    padding: 25px;
    left: 0;
  }
  .content.active {
    left: $navWidth;
  }
}

/********** Navbar **********/

#bio-link {
  margin-bottom: 3rem;
  color: $green;
  text-shadow: -3px -3px 6px $blue;
}

.pagelink {
  background-color: $purple;
  color: $green;
  border: 2px solid $blue;
  margin-bottom: 1.5rem;
  &:hover {
    background-color: $green;
    color: $purple;
    border: 2px solid $red;
  }
}

#navbar {
  width: $navWidth;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 1;
  background-color: $black;
  padding: 15px;
  text-align: center;
  transition: $transition;
  overflow: hidden;
}

#navbar.active {
  margin-left: -$navWidth;
}

.navbutton {
  position: fixed;
  transition: $transition;
  top: 0;
  left: $navWidth - 40px;
  z-index: 99;
}

.navbutton.active {
  left: 0;
}

.footer {
  color: $blue;
  font-size: 12px;
  text-align: center;
}

@media screen and (max-width: 480px) {
  #bio-link {
    margin-bottom: 1rem;
  }
  .pagelink {
    font-size: 0.75em;
    margin-bottom: 0.75rem;
  }
  #navbar {
    margin-left: -$navWidth;
  }
  #navbar.active {
    margin-left: 0;
  }
  .navbutton {
    left: 0;
  }
  .navbutton.active {
    left: $navWidth - 40px;
  }
  #techskills, #techskills-page {
    display: none;
  }
}

/********** Welcome Page **********/

#welcome-page {
  padding: 100px;
  height: 100vh;
}

.logo-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  border: 5px solid $blue;
  border-radius: 10%;
}

.greetings {
  border: 5px solid $orange;
  width: 75%;
  min-height: 166px;
  padding: 30px 50px;
  margin: 50px auto;
  color: $blue;
  background-color: rgba($black, 0.9);
  border-radius: 50px;
}

@media screen and (max-width: 768px) {
  #welcome-page {
    padding: 50px;
  }
}

@media screen and (max-width: 480px) {
  #welcome-page {
    padding: 25px;
  }
  .greetings {
    font-size: 1.5em;
    width: 100%;
    padding: 25px;
  }
}

/********** Spacer **********/

.spacer {
  height: 50vh;
}

@media screen and (max-width: 480px) {
  .spacer {
    height: 10vh;
  }
}

/********** AboutMe **********/

.aboutme-page {
  padding: 100px;
  height: 100vh;
}

.aboutme-pic {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  display: block;
  width: 240px;
  padding: 5px;
  border: 5px solid $blue;
  border-radius: 25%;
  background-color: $black;
}

.aboutme {
  position: relative;
  background-color: $black;
  width: 50%;
  font-size: 28px;
  line-height: 36px;
  text-align: right;
  padding: 28px 56px 28px 128px;
  margin: 50px auto;
  color: $blue;
  border: 5px solid $orange;
  border-radius: 100px;
}

@media screen and (max-width: 768px) {
  #aboutme-page {
    padding: 25px;
  }
  .aboutme {
    width: 100%;
    font-size: 24px;
    padding: 100px 25px 25px;
    border-radius: 25px;
    line-height: 30px;
  }
  .aboutme-pic {
    top: 0;
    left: 80px;
    width: 200px;
  }
}

/********** Portfolio **********/

#portfolio-page {
  padding: 0px 100px;
  min-height: 100vh;
}

.project {
  height: 100%;
}

.project-body {
  padding: 0px;
  align-content: center;
  border: 3px solid $green;
  background: rgba($black, 0.9);
}

.project-image {
  width: 90%;
  border: 2px solid $green;
  margin-bottom: 10px;
}

.project-title {
  text-align: center;
  background: rgba($black, 0.9);
  color: $blue;
  font-size: 17px;
  padding: 20px;
  margin-bottom: 0px;
}

.project-skills {
  text-align: center;
  font-size: 12px;
  border: 2px solid $green;
  background-color: $red;
  color: $green;
  padding: 5px 10px;
  margin: 0px auto;
  width: 90%;
  min-height: 50px;
}

.project a {
  margin: 10px 0 20px;
  width: 45%;
}

@media screen and (max-width: 1200px) {
  #portfolio-page {
    padding: 0 50px;
  }
  #techskills-page {
    padding: 0 50px;
  }
}

@media screen and (max-width: 480px) {
  #portfolio-page {
    padding: 0 25px;
  }
  #techskills-page {
    padding: 0 25px;
  }
}

/********** TechSkills **********/

#techskills-page {
  padding: 100px 50px 0px;
  min-height: 100vh;
}

#techskills-page h4 {
  color: $green;
  text-shadow: -2px -2px 5px $blue;
}

.toolbox-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 200px;
  border-radius: 100%;
  border: 5px solid $purple;
  background: $black;
  margin-bottom: 20px;
  &:focus {
    outline: none;
  }
}

.techskills {
  background-color: $blue;
  border: 3px solid $orange;
}

.skillimage {
  max-width: 100px;
}

.header {
  background-color: $black;
  border: 3px solid $orange;
  text-align: center;
}

@media screen and (max-width: 768px) {
  #techskills-page {
    min-height: 50vh;
    padding: 20px;
  }
  #techskills-page h4 {
    font-size: 16px;
  }
  .toolbox-item {
    width: 110px;
    height: 110px;
  }
  .skillimage {
    width: 50px;
  }
}

/********** Contact Me **********/

.contact-me {
  position: relative;
  background-color: $black;
  width: 50%;
  font-size: 28px;
  line-height: 36px;
  text-align: center;
  padding: 28px 56px;
  margin: 50px auto;
  color: $green;
  border: 5px solid $blue;
  border-radius: 100px;
}

.contact-me input,
.contact-me textarea {
  border-radius: 10px;
  background-color: $gold;
  color: white;
}

#norton-idsafe-field-styling-divId {
  display: none;
}

@media screen and (max-width: 768px) {
  .contact-me {
    width: 100%;
    padding: 28px 28px;
    border-radius: 25px;
  }
}

/********** TOOLBOX SLIDER **********/

.slider {
  padding: 50px 0;
}
.slider-origin {
  border-radius: 50%;
  display: block;
  margin: auto !important;
  height: 100%;
  width: 115px !important;
}
.slider-inner {
  display: block;
  width: 100% !important;
  height: 550px !important;
  margin: auto;
}

.slider-item {
  width: 150px;
  height: 150px;
  -webkit-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  position: absolute;
  cursor: pointer;
  left: 41%;
  transform-origin: center 175%;
    -webkit-transform-origin: center 175%;
      -ms-transform-origin: center 175%;
        -moz-transform-origin: center 175%;
  -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
      -o-transition: transform 0.5s;
        transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
    -webkit-transition: transform 0.5s;
      -ms-transition: transform 0.5s;
        -moz-transition: transform 0.5s;
  text-align: left;
  color: #fff;
  padding: 7px;
  -webkit-box-sizing: border-box;
    box-sizing: border-box;
  -moz-user-select: -moz-none;
    -webkit-user-select: none;
  /*Introduced in IE 10. See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/ */
  -ms-user-select: none;
    user-select: none;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
    -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-align: center;
    -ms-flex-align: center;
      align-items: center;
  -webkit-box-pack: center;
    -ms-flex-pack: center;
      justify-content: center;
  border: 5px solid $purple;
}
.slider-item img {
  width: 100px;
}

.slider-item.active {
  background-color: $black;
  cursor: default;
  -webkit-box-shadow: 5px 5px 10px #97b, 5px -5px 10px #5ac, -5px -5px 10px #cf8, -5px 5px 10px #f80;
    box-shadow: 5px 5px 10px #97b, 5px -5px 10px #5ac, -5px -5px 10px #cf8, -5px 5px 10px #f80;
  border-color: #222;
}
.slider-item:not(.active):hover {
  -webkit-filter: brightness(0.8);
  filter: brightness(0.8);
}
.slider-item:not(.active) {
  -webkit-filter: brightness(0.6);
  filter: brightness(0.6);
}
.text-section div {
  -webkit-animation: fadeIt 2s;
    animation: fadeIt 2s;
  margin-left: 50px;
  text-align: right;
}
@-webkit-keyframes fadeIt {
  0% {
    opacity: 0;
      -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
  }
  100% {
    opacity: 1;
      -webkit-transform: translateX(0px);
        transform: translateX(0px);
  }
}
@keyframes fadeIt {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
      transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
      transform: translateX(0px);
  }
}
@keyframes bouncing {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-5px) scaleY(1.1);
  }
  70% {
    transform: translatey(0px) scaleY(0.8);
  }
  100% {
    transform: translatey(0px) scaleY(1);
  }
}
.text-section {
  margin-top: 30px;
  margin-right: 20px;
  color: $white;
  background: $black;
  padding: 20px;
  border: 5px solid $red;
  border-radius: 25px;
}
.text-section p {
  font-size: 35px;
}
.text-section h2 {
  font-size: 55px !important;
  color: $gold;
  margin: 0px !important;
  line-height: 1 !important;
  padding-bottom: 13px;
  margin-bottom: 20px !important;
  border-bottom: 2px solid $green;
}
.slider-item {
  background-color: $black;
}
.slider-wrap img {
  position: absolute;
  z-index: -1;
  opacity: 0.4;
}
.slider-wrap img:nth-child(2) {
  top: 0px;
  right: -20px;
}
.slider-wrap img:nth-child(3) {
  top: 0;
  left: 7px;
}
.slider-wrap img:nth-child(4) {
  bottom: 20%;
  right: -10px;
}
.slider-wrap img:nth-child(5) {
  bottom: -12px;
  left: 87px;
}
.slider-wrap img:nth-child(6) {
  top: -72px;
  right: 28%;
  max-width: 111px;
  left: auto;
  margin: auto;
}
.slider-wrap .fusion-imageframe:nth-child(7) {
  bottom: 20%;
  right: 0;
  left: -81px;
  margin: auto;
}
.slider-wrap .fusion-imageframe:nth-child(8) {
  left: auto;
  right: 91px;
  bottom: -70px;
}
.slider-wrap .fusion-imageframe:nth-child(9) {
  left: 241px;
  right: 91px;
  display: none !important;
  max-width: 112px;
  bottom: -96px;
  right: auto;
}
.slider-wrap > div {
  max-width: 650px;
  margin: auto;
  position: relative;
}
@-webkit-keyframes breath {
  0% {
    max-width: 690px;
    max-height: 535px;
  }
  50% {
    max-width: 670px;
    max-height: 520px;
  }
  100% {
    max-width: 690px;
    max-height: 535px;
  }
}
@keyframes breath {
  0% {
    max-width: 690px;
    max-height: 535px;
  }
  50% {
    max-width: 670px;
    max-height: 520px;
  }
  100% {
    max-width: 690px;
    max-height: 535px;
  }
}
.min-it {
  min-height: 800px;
  max-width: 1400px;
  margin: auto !important;
  margin-top: 200px;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .reveal {
    display: none !important;
  }
}
.menu-item:hover > a {
  color: #9b9b9b !important;
}
